{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>Clients</h1>
<p>Our clients:</p>
      {% for client in clients %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm">
          {% if client.logo %}
            <img src="{{ client.logo.url }}" style="width:150px" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top">
                    {% endif %}
              <div class="card-body">
             <p class="card-text"><a href="{{ client.id }}">{{ client.company }}</a></p>
            </div>
           </div>
        </div>
      {% endfor %}
<div class="container pages">
    <nav aria-label="...">
        {% if clients.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for client in clients.paginator.page_range %}
                    {% if clients.number == client %}
                        <li class="page-item active">
                            <a class="page-link">{{ client }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ client }}">{{ client }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}